
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

header, section, footer, aside, nav, article, figure, audio, video, canvas  { display:block; }

body {

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    background:url("../img/grid.png") repeat center center scroll;
	font-family:'jean_dewasneregular', Helvetica, sans-serif;
    font-size:18px;
    margin:0px;
    padding:0px;
    color:blue;
}

@font-face {
    font-family: 'jean_dewasneregular';
    src: url('../fonts/jd-webfont.eot');
    src: url('../fonts/jd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jd-webfont.woff2') format('woff2'),
         url('../fonts/jd-webfont.woff') format('woff'),
         url('../fonts/jd-webfont.ttf') format('truetype'),
         url('../fonts/jd-webfont.svg#jean_dewasneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

nav a, footer a {
    color:#00dc64;
    text-decoration:none;
    font-size :30pt;
    margin-right:30px;

}


.logo {
    width:185px;
    height:74px;
    background: transparent url("../img/logojd.png") no-repeat scroll 0% 0%;
    /*text-indent:-9999px;*/
    border: 0;
    margin: auto;
    display: block;
    overflow:hidden;
    text-indent:100%;
    white-space:nowrap;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 

li a {
    width:200px;
}

nav li, footer li {
    display : inline;
}

footer {
    display: flex;
    text-align:right;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
    position:absolute;
    bottom:0;
    right: 0;
}

header {
    height:100px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+50,ffffff+100&1+50,0+100 */
background: -webkit-linear-gradient(rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
background: -o-linear-gradient(rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%);
background: linear-gradient(rgba(255,255,255,1) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}


/*#1 {
  order: 4;
}

#2 {
  order: 2;
}

#3 {
  order: 3;
}

#4 {
  order: 1;
}

#5 {
  order: 5;
}

#6 {
  order: 6;
}*/

#soustitre {
    text-align: center;
    margin-top: -40px;
    font-size: 16pt;
}

.slider-bg{
    height:600px;
    width: 900px;
    background-color: red;
    color:white;
}

ul #onglet {
    display: block;
}

.jeu #content {
        display: flex;
}

#img-jeu {
    background:url("../img/img-jeu.jpg") no-repeat left top scroll;
    height:560px;
    width:1250px;
    left:0;
    top: 0;
    float:left;
    margin-left:30px;
}

.carre{
    height:100px;
    width: 100px;
    border:6px solid blue;
    align-items: flex-end;
    background-color: white;
    float:left;
    margin:10px;
}

.rond{
    height:50px;
    width: 50px;
    border:6px solid blue;
    align-items: flex-end;
    border-radius: 50px;
    background-color: white;
    margin:10px;

}

.champ #recherche {
        border:6px solid #00dc64;
        background-color: white;
        width:70%;
        height:30px;
        font-size: 20pt;
        margin:auto;
        color:blue;
        padding: 12px 20px;
}

.grand-h2 {
    font-size:30pt;
}

#recherche {
    text-align: center;
}

#formes, #couleurs {
    float:right;
    margin: 0px 20px 0px 20px;
}

#content h2 {
    text-align: center;
}